<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li *ngFor="let link of menu" class="nav-item">

      <a *ngIf="link.type != 'dropmenu'" [routerLink]="[link.url]" routerLinkActive="active"
        class="nav-link collapsed {{link?.children?.length! > 0 ? 'has-arrow': ''}}" href="index.html">
        <i [class]="link.icon"></i>
        <span>{{link.name}}</span>
      </a>

      <a *ngIf="link.type == 'dropmenu'" href="#"
        class="nav-link collapsed {{link?.children?.length! > 0 ? 'has-arrow': ''}}">
        <i [class]="link.icon"></i>
        <span>{{link.name}}</span>
      </a>

      <ul *ngIf="link?.children?.length! > 0" id="components-nav" class="nav-content collapse "
        data-bs-parent="#sidebar-nav">
        <li *ngFor="let _link of link.children">

          <a [routerLink]="[link.url + _link.url]" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"><i class="bi bi-circle"></i><span>{{_link.name}}</span>
          </a>
        </li>
      </ul>


    </li><!-- End Dashboard Nav -->



  </ul>

</aside><!-- End Sidebar-->
